
body {
	background-color: #1c702f;
	font-family: 'Tahoma';
	font-size: 16px;
}


/*СТАРТОВЫЙ ЭКРАН*/

.start-page__img {
	margin-top: 250px;
	text-align: center;
}

.start-page__title {
	color: #ddeae0;
	text-align: center;
}

.btn_start-game {
	display: block;
	margin: auto;
	width: 120px;
	height: 40px;
	background-color: #ddeae0;
	color: #1c702f;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 100px;
	-webkit-transition: 275ms ease-out;
	-o-transition: 275ms ease-out;
	transition: 275ms ease-out;
}

.btn_start-game:hover {
	-webkit-transform: scale(1.3, 1.3);
	    -ms-transform: scale(1.3, 1.3);
	        transform: scale(1.3, 1.3);
}


/*ЭКРАН ИГРЫ*/

.game-page {
	display: none;
	position: relative;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.play-board {
	margin: auto;
	margin-top: 25px;
	width: 75%;
	
}

.side-bar {
	position: absolute;
	padding-left: 30px;
	font-size: 22px;
	padding-left: 35px;
	height: 150px;
}

.score-table {
	color: #ddeae0;
	margin-bottom: 50px;
}

.btn_new-game {
	display: block;
	color: #ddeae0;
	text-decoration: none;
}

.card {
	display: inline-block;
	background: url('../images/faceDown.jpg') no-repeat center;
	overflow: hidden;
	-webkit-transition: 300ms ease-out;
	-o-transition: 300ms ease-out;
	transition: 300ms ease-out;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-transition: 250ms ease-out;
	-o-transition: 250ms ease-out;
	transition: 250ms ease-out;
}

.card img {
	height: 282px;
	max-width: 203px;
}

.card:hover {
	-webkit-transform: translate(0, -10px);
	    -ms-transform: translate(0, -10px);
	        transform: translate(0, -10px)
}


/*РЕЗУЛЬТАТ*/

.end-page {
	display: none;
} 

.end-page__img {
	margin-top: 250px;
	text-align: center;
}

.score {
	text-align: center;
	margin-top: 25px;
	color: #ddeae0;
}

.btn_repeat-game {
	display: block;
	margin: auto;
	width: 120px;
	height: 40px;
	background-color: #ddeae0;
	color: #1c702f;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 100px;
}


/*МОДИФИКАТОРЫ*/

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.faceUp {
	opacity: 1;
}

.active {
	display: block;
}

.no-active {
	display: none;
}
